<div class="container" style="margin-left: 240px;">
    <div class="panel panel-default" >
      <div class="panel-heading"><h3 class="panel-title">Legg til en ny bruker</h3></div>
      <div class="panel-body" style="margin-top: 10px;">
          <form method="post" id="myNewUser" action="#" enctype="multipart/form-data">
          <div class="row">
            <div class="col-xs-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" name="Nemail" id="Nemail" required placeholder="E-post adresse">
              </div>
            </div>
            <div class="col-xs-4">
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="Npassword" id="Npassword" required placeholder="Passord" autocomplete="new-password">
              </div>
            </div>
              <div style="margin-bottom: 25px" class="input-group">
                <label for="access_level" class="col-md-5 control-label">Admin?</label>
                <input name="Naccess_level" id="Naccess_level" value="0" type="hidden">
                <input type="checkbox" name="Naccess_level" id="Naccess_level" value="admin" style="margin-left: 30px;">
              </div>
          </div>
          <input type="submit" name="AddUser" id="addUser" value="Legg til bruker" class="btn btn-primary"/>
        </form>
      </div>
    </div>
    <!-- Tabel separation -->
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Registrerte brukere</h3></div>
      <div class="panel-body">
        <div class="table-responsive" style="overflow-x:auto;">
          <table id="brukerTabel" class="table table-striped">
            <thread>
              <th style="width:200px" onclick="sortTable(0)">Epost</th><th style="width:200px" onclick="sortTable(1)">Tilgangsnivå</th><th></th>
            </thread>
            <tbody id="user-information">
              <!-- Users will be listet here -->
            </tbody>
         </table>
       </div>
     </div>
   </div>
  </div>
