<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="panel panel-default" style="margin-left: 100px;">
        <div class="panel-heading clearfix">
          <div class="panel-title">Mine videoer</div>
        </div>
        <div class="panel-body">
          <table id="myVideoTable"  class="table table-striped">
            <thread>
              <th></th><th style="width:200px">Tittel</th><th style="width:50px">Beskrivelse</th><th></th><th></th><th></th>
            </thread>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="editBoxVideo" class="col-xs-6 col-lg-12">
      <div class="panel panel-default" style="margin-left: 100px;">
        <div class="panel-heading">
          <div class="panel-title">Rediger</div>
        </div>
        <div class="panel-body" style="margin-top: 10px; margin-left: 20px;">
          <form method="post" role="form">
            <div class="row">
              <div class="row-xs-10">
                <div style="margin-bottom: 25px" class="input-group">Tittel
                  <input type="text" class="form-control" name="Ntitle" required placeholder="Tittel">
                </div>
              </div>
              <div class="row-xs-10">
                <div style="margin-bottom: 25px" class="input-group">Beskrivelse
                  <textarea class="form-control" name="Ndescription" placeholder="Beskrivelse"></textarea>
                </div>
                <div class="row-xs-10">
                  <div style="margin-bottom: 25px" class="input-group">New tags
                    <textarea class="form-control" name="Ntags" placeholder="Tags, separated by space"></textarea>
                  </div>
              </div>
              <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                  <input type="submit" id="btn-login" class="btn btn-success" value="Submit"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
