<div class="row">
  <div id="editBox" class="col-xs-6 col-lg-12">
    <div class="panel panel-default" style="margin-left: 100px">
      <div class="panel-heading">
        <div class="panel-title">Rediger</div>
      </div>
        <div class="panel-body" style="margin-top: 10px; margin-left: 20px;">
          <form method="post" id="myUpdatedPlaylist" action="#" enctype="multipart/form-data">
            <div class="row">
              <div class="row-xs-10">
                <div style="margin-bottom: 25px" class="input-group">Tittel
                  <input type="text" class="form-control" id="Ntitle" name="Ntitle" required placeholder="Tittel">
                </div>
              </div>
              <div class="row-xs-10">
                <div style="margin-bottom: 25px" class="input-group">Beskrivelse
                  <textarea class="form-control" id="Ndescription" name="Ndescription" placeholder="Beskrivelse"></textarea>
                </div>
              </div>
              <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                  <input type="submit" id="btn-login" class="btn btn-success" value="Submit"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
