<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <div class="panel panel-default" style="margin-left: 100px;">
        <div class="panel-heading clearfix">
          <div class="panel-title">Søk</b></div>
        </div>
        <div class="panel-body">
          <table id="myVideoTable"  class="table table-striped">
            <thread>
              <th></th><th style="width:200px">Tittel</th><th style="width:50px">Beskrivelse</th><th>Tags</th>
            </thread>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
