
<div class="row" style="margin-left: 450px;">
    <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hvem har sett hva?</h3>
        </div>
          <div class="panel-body">
          <table id="videot"  class="table table-striped">
              <thread>
                <th style="width:500px">Tittel</th><th style="width:500px">Sett av</th>
              </thread>
              <tbody>
              </tbody>
            </table>

          </div>
    </div>
</div>

<div id="showresults"></div>
