<div class = "container">
  <div class="panel panel-default" style="margin-left: 100px;">
    <div class="panel-heading">
      <div class="panel-title">Last opp video</div>
  </div>
    <div style="margin-left: 30px; padding-top:30px" class="panel-body">
      <form method="post" id="myNewFile" action="#" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Tittel</label>
          <input type="text" class="form-control" name="title" required id="title" placeholder="Tittel">
        </div>
        <div class="form-group">
          <label for="description">Beskrivelse</label>
          <input type="textarea" class="form-control" name="description" id="description" placeholder="Beskrivelse"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="tag" placeholder="Tags, separated by space">
        </div>
        <input type="hidden" id="filename" name="filename"/>
				<input type="hidden" id="filepath" name="filepath"/>
				<div class="form-group">
          <input type="file" id="file" name="file" required class="upload" />
					<input class="btn btn-primary center-block" id="submitbutton" type="submit"/>
				</div>
      </form>
    </div>
  </div>
</div>
