    <div class="row" style="margin-left: 250px;">
        <div class="col-lg-9">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		        	<h3 class="panel-title">Nyeste videoer</h3>
		        </div>
	            <div class="panel-body">
							<table id="videot"  class="table table-striped">
									<thread>
										<th></th><th style="width:200px">Tittel</th><th style="width:50px">Beskrivelse</th><th style="width:50px">Opplastet</th>
									</thread>
									<tbody>
									</tbody>
								</table>

	           	</div>
		    </div>
		</div>
    <div class="row">
          <div class="col-xs-6 col-lg-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Alle videoer</h3>
          </div>
            <div class="panel-body">
							<table id="videot"  class="table table-striped">
								<thread>
									<th style="width:200px">Tittel</th>
								</thread>
								<tbody>
								</tbody>
							</table>
            </div>
      </div>
  </div>
  </div>
	<div id="showresults"></div>
